$color-h1: green;

.app-header {
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 25px;
}
.user{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app-header h1 {
  display: inline-block;
  font-size: 32px;
  margin: 0;
  color: $color-h1;
  //width: auto;
}

.app-header p {
  font-size: 1rem;
  margin: 0;
  color: grey;
}

.app-header img {
  display: inline-block;
  height: 50px;
  width: auto;
  margin-right: 20px;
  border-radius: 100%;
  border: 1px solid rgba(0,0,0,.125);
  overflow: hidden;
}
